@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

html {
  display: flex;
  justify-content: center;

  cursor:
    url(https://github.com/ismailhromcik95/ismile.neocities.org/raw/refs/heads/main/MONS/assets/cursors/default.cur),
    default;
}

body {
  background-color: #502d55;

  font-family: "Roboto", sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 1000px;
}

main,
header,
footer {
  display: flex;
  justify-content: center;

  width: 100%;
}

header {
  flex-direction: column;
  align-items: center;
}

#header-div,
#footer-div {
  width: 100%;
  max-width: 1000px;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
}

#nav-banner-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dksl {
  color: #e9caa9;
}

#banner-div {
  width: 100%;
  height: 120px;
  background-image: url("images/banners/Kalelium.png");
  background-image: url("images/banners/Kalelium-light-purple.png");
  background-image: url("images/banners/Kalelium-beige-purple.png");
  background-image: url("images/banners/Kalelium-dot-beige-purple.png");

  background-size: cover;
  background-position: center;

  border-color: #ba7799;
  border-radius: 10px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  gap: 5px;
}

nav a {
  background-color: #f6dbc0;
  color: #935073;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;

  border-radius: 10px;
  width: 100%;
  max-height: 50px;
}

nav p {
  padding-left: 2px;
  padding-right: 2px;
}

#header-message-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#header-message-div h1 {
  font-size: 3cqw;

  margin: 4px;
}

.decoration {
  font-size: 4cqw;
  margin: 0px;

  line-height: 0.8;
}

#column-1,
#column-2 {
  display: flex;
  flex-direction: column;

  width: 50%;
}

#personal-greeting-div {
  display: flex;
  align-items: baseline;
}

#personal-greeting-div :nth-child(2) {
  text-align: center;
}

#personal-greeting-div :nth-child(2) h2 {
  margin-top: 0px;
}

#personal-greeting-div div {
  width: 50%;
  text-wrap: nowrap;
}

#me img {
  border-radius: 10px;

  /*
  width: 67%;
  */
}

#pic-and-info {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

#pic {
  width: 50%;
  min-width: 150px;
}

#info {
  width: 50%;
  padding-left: 15px;
}

#me-list {
  display: flex;

  flex-direction: column;
  justify-content: flex-end;

  margin: 0px;

  padding-left: 0px;
  list-style-type: none;
}

#interest-content-div {
  padding: 0;
}

.interest-row {
  display: flex;

  margin-bottom: 4px;
}

.interest-row div {
  background-color: #e9caa9;
  color: #703353;
}

.interest-row-alt div {
  background-color: #f6dbc0;
  color: #935073;
}

.interest-title-div {
  background-color: blanchedalmond;

  font-weight: bold;

  border-radius: 10px;

  margin-right: 4px;

  padding-left: 4px;

  width: 25%;
}

.interest-title-div h3 {
  margin-top: 16px;
}

.interest-body-div {
  background-color: blue;

  border-radius: 10px;

  padding-left: 4px;

  width: 75%;
}

#filler-image {
  background-image: url("images/backgrounds/grid background.jpg");
  height: 100%;
}

.blurb-label-div h3 {
  color: #e9caa9;

  margin-top: 4px;
}

hr {
  border: none;
  border-radius: 20px;
  background-color: #ba7799;

  height: 2px;
}

.default-card {
  margin: 8px;
  padding: 10px;

  border-style: solid;
  border-color: #ba7799;
  border-width: 2px;
  border-radius: 10px;

  background-color: #935073;
  color: #f8f4e9;

  display: flex;
}

.content-div {
  padding-left: 8px;
  padding-right: 8px;
}

.title-card {
  flex-direction: column;
  align-content: center;
}

.title-div {
  background-color: #f6dbc0;
  color: #935073;

  border-radius: 10px;

  margin-bottom: 8px;

  padding-left: 8px;
}

.title-div h2 {
  margin-top: 8px;
  margin-bottom: 8px;
}

#stamp-div {
  display: flex;
  justify-content: center;
}

#stamp-div div {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

#stamp-div img {
  width: 99px;
}

#tv-content-div {
  display: flex;
  justify-content: center;
}

#tv-div {
  display: flex;
  justify-content: center;

  width: fit-content;
  position: relative;
}

#tv-show-div {
  position: absolute;
  top: 75px;
  left: 20px;
}

#tv-show-div img {
  width: 200px;
  height: 200px;

  border-radius: 5px;
}

#instructions-div h3 {
  color: #e9caa9;
}

#instructions-div li {
  margin-bottom: 8px;
}

#blog-preview-container {
  display: flex;
  flex-direction: column;

  background-color: #935073;

  border-style: solid;
  border-color: #ba7799;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  overflow-y: scroll;

  gap: 12px;
  padding: 4px;

  height: 260px;
  width: 80%;
}

.blog-preview {
  background-color: #f6dbc0;
  color: #935073;

  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #ba7799;

  padding-left: 8px;
  padding-bottom: 8px;
}

.blog-preview h3 {
  margin-top: 8px;
}

.blog-preview-title-div h3 {
  margin-bottom: 8px;
}

.blog-preview-subtitle-div p {
  margin-top: 0;
  margin-bottom: 4px;
}

.blog-date-div {
  font-style: italic;
}

.footer-div {
  display: flex;
  flex-direction: column;
}

#web-button-div {
  display: flex;
  align-items: center;
}

#web-button-div img {
  width: 88px;
}

/* Blog Specific */
#blog-holder-div {
  display: flex;
  flex-direction: column-reverse;

  width: 100%;
}

/* Blog open/close div button functionality */
details:not([open]) .blog-summary > :nth-child(2) {
  display: none;
}

details[open] .blog-summary > :first-child {
  display: none;
}

summary {
  cursor: pointer;
  list-style: none;
}

.blog-summary div {
  background-color: #f6dbc0;

  border-radius: 5px;

  display: flex;
  justify-content: center;

  margin-top: 16px;
  margin-bottom: 16px;
}

.blog-summary div p {
  color: #935073;

  margin-top: 2px;
  margin-bottom: 2px;
}

.blog-subheading-div {
  margin-bottom: 8px;
}

.blog-subheading-div h3 {
  margin-top: 4px;
  margin-bottom: 0px;
}

.blog-date-div p {
  margin: 0px;
}

.exit-button {
  cursor: pointer;

  background-color: #f6dbc0;
  color: #935073;

  border-color: #502d55;
  border-style: solid;
  border-radius: 10px;

  width: 100%;
}

img {
  max-width: 100%;
}

/* Mobile Styling */
@media (max-width: 768px) {
  main {
    flex-direction: column; /* Switches alignment to vertical */
  }
  #column-1,
  #column-2 {
    display: flex;
    flex-direction: column;

    /* Ensures columns expand to fill vertical space*/
    width: 100%;
  }
  #header-message-div h1 {
    font-size: revert;
  }

  .decoration {
    font-size: revert;
    font-size: 20px;
  }

  #filler-image {
    display: none;
  }
}

@media (max-width: 400px) {
  #personal-greeting-div {
    flex-direction: column;
  }
}
